const socket = io("https://stream6969.herokuapp.com");
socket.on("server_send_login_fail", function (data) {
    alert("Dang ky that bai");
});
socket.on("server_send_login_success", function (data) {
    $("#txtXinChao").html("Xin chao " + data);
    $("#txtUserName").hide();
    $("#btnRegister").hide();
    $("#txtXinChao").show(1000);
});
socket.on("server_send_message", function (data) {
    $("#content").append("<div>" + data.username + ": " + data.text + "</div>");
});
function openStream() {
    const config = { audio: false, video: true };
    return navigator.mediaDevices.getUserMedia(config);
}
function playStream(IdTagVideo, stream) {
    var $video = document.getElementById(IdTagVideo);
    $video.srcObject = stream;
    $video.play();
}
//openStream()
//    .then(stream => playStream("localStream", stream));

const peer = new Peer({ "key": "peer", "host": "stream6969.herokuapp.com", secure: true, port: 443 });
peer.on("open", id => {
    console.log(1);
    $("#txtLocalIdPeer").html(id);
});
$("#btnCall").click(function () {
    var remoteId = $("#txtRemoteId").val();
    openStream()
        .then(stream => {
            playStream("localStream", stream);
            const call = peer.call(remoteId, stream);
            call.on("stream", stream => playStream("remoteStream", stream))
        });
});
peer.on("call", (call) => {
    openStream()
        .then(stream => {
            call.answer(stream);
            playStream("localStream", stream);
            playStream.on("stream", (stream) => play("remoteStream", stream));
        });
});
