<html>
<head>
	<title>Linh dep trai</title>
	<script src="jquery.js"></script>
	<script src="./socket.io.js"></script>
	<script src="./peer.js"></script>
	<script>
		var socket = io("https://stream6969.herokuapp.com");
		socket.on("server_send_login_fail", function(data){
			alert("Dang ky that bai");
		});
		socket.on("server_send_login_success", function(data){
			$("#txtXinChao").html("Xin chao " + data);
			$("#txtUserName").hide();
			$("#btnRegister").hide();
			$("#txtXinChao").show(1000);
		});
		socket.on("server_send_message", function(data){
			$("#content").append("<div>"  + data.username + ": " + data.text + "</div>");
		});
	</script>
	<script>
		$(document).ready(function (){
			$("#btnRegister").click(function(){
				socket.emit("client_send_username", $("#txtUserName").val());
			});
			$("#SendMess").click(function(){
				socket.emit("client_send_message", $("#txtMess").val());
			});
		});
	</script>
</head>
<body>
	<input type="text" id="txtUserName"/><button type="button" id="btnRegister">Dang ky</button>
	<a href="/auth/fb" id="btnLoginFb">Login with facebook</a>
	<label id="txtXinChao" style="display: none"></label>
	<div id="content">
	</div>
	<input type="text" id="txtMess"/><button id="SendMess">Gui</button>
	<video id="localStream" width="300" controls></video>
	<video id="remoteStream" width="300" controls></video>
</body>
<script src="./main.js"></script>
</html>
