<html>
<head>
	<title>Linh dep trai</title>
	<script src="jquery.js"></script>
	<script src="socket.io.js"></script>
	<script src="peer.js"></script>
	<script>
		$(document).ready(function (){
			$("#btnRegister").click(function(){
				socket.emit("client_send_username", $("#txtUserName").val());
			});
			$("#SendMess").click(function(){
				socket.emit("client_send_message", $("#txtMess").val());
			});
		});
	</script>
</head>
<body>
	<input type="text" id="txtUserName"/><button type="button" id="btnRegister">Dang ky</button>
	<a href="/auth/fb" id="btnLoginFb">Login with facebook</a>
	<label id="txtXinChao" style="display: none"></label>
	<div id="content">
	</div>
	<input type="text" id="txtMess"/><button id="SendMess">Gui</button>
	<video id="localStream" width="300" controls></video>
	<video id="remoteStream" width="300" controls></video>
	<h3 id="txtLocalIdPeer"></h3>
	<input type="text" id="remoteId"/><button id="btnCall">Call</button>
</body>
<script src="main.js"></script>
</html>
